fastapi==0.115.0
mangum==0.19.0
sqlalchemy==2.0.35
pg8000==1.31.2
pydantic==2.9.2
pydantic-settings==2.5.2
python-dotenv==1.0.1
boto3==1.35.36
reportlab==4.2.2
python-multipart==0.0.12
alembic==1.13.3
uvicorn==0.31.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
